<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC22e9trTbzwVu186T1nIYho-cbofiJSWc</string>
	<key>GCM_SENDER_ID</key>
	<string>237457989005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mdNotes</string>
	<key>PROJECT_ID</key>
	<string>the-good-text-ef33a</string>
	<key>STORAGE_BUCKET</key>
	<string>the-good-text-ef33a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237457989005:ios:0411068cff684c950331c4</string>
	<key>DATABASE_URL</key>
	<string>https://the-good-text-ef33a.firebaseio.com</string>
</dict>
</plist>