<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            {{#markdown}}
            # Heading

            > this is markdown

            foo bar baz
            {{/markdown}}
        </div>
    </body>
</html>